.app {
  height: 100vh;
  color: #ffffff;
  padding-top: 100px;

  margin-inline-start: auto;
  margin-inline-end: auto;

  padding-inline-start: 16px;
  padding-inline-end: 16px;
  max-width: 500px;

  .profile {
    display: flex;
    align-items: center;
    height: 100px;
  }

  .naming {
    padding: 0 10px;
  }

  .profilePic img {
    width: 100px;
    border-radius: 50%;
    background-color: #aba3a3;
  }

  h1,
  h6 {
    margin: 0px;
  }
}
